/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #78b0fe;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #00050d;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f71de5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    width: 500px;
    border: 2px solid #ddd;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.search-box button {
    padding: 10px 20px;
    border: 2px solid #ae00ff;
    background-color: #9111f3;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #780583;
}

.quick-nav {
    margin-bottom: 20px;
}

.quick-nav a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
}

.hot-recommendations h2 {
    color: #333;
}

.hot-recommendations ul {
    list-style: none;
    padding: 0;
}

.hot-recommendations li {
    margin-bottom: 5px;
}

.hot-recommendations a {
    text-decoration: none;
    color: #007BFF;
}

footer {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #e8e8e8;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

.footer-links a:hover {
    color: #007BFF;
}

footer p {
    color: #666;
    margin: 10px 0 0 0;
}
